@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&display=swap');

/**FONTS**/
$titulo2: "Cal Sans", sans-serif;
$titulo1:  "Nunito Sans", sans-serif;
$contenido: "Jost", sans-serif;
$subtitulo: "Onest", sans-serif;

/**COLORS**/
$white: #fff;
$black: #000;
$teal: #008080;
$amber: #d97706;
$grisOscuro: #6b7280;
$gris: #d3d3d3;