@use '/src/sass/global/variables' as v;
@use '/src/sass/global/mixins' as *;

footer {
  background-color: rgba(15, 32, 39, 0.6);
  backdrop-filter: blur(10px);
  padding: 3rem 1.5rem;
  color: v.$white;
  font-family: v.$contenido;
  font-size: 1.6rem;
  text-align: center;

  p,
  nav,
  .socials {
    margin: 0;
  }

  nav.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; /* centra los enlaces */

  .footer-tagline {
    grid-column: 1 / -1; /* ocupa toda la fila */
    margin-top: 2rem;
    font-style: italic;
    color: lighten(v.$white, 30%);
    font-size: 1.4rem;
    text-align: center;
  }
}
}