@use '/src/sass/global/variables' as v;
@use '/src/sass/global/mixins' as *;

@include desktop{
    .contactame{
        margin-top: 5rem;
        padding: 0 20rem;
    }
}
@include tablet{
    .tecnologias{
        margin-top: 5rem;
    }
    .tecnologia-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .aprendiendo{
        grid-column: 1/ span 2;
    }
}

.sobre-mi{
    margin-top: 10rem;

    h1{
        color: v.$white;
        font-family: v.$titulo2;
        font-size: 4rem;
    }
    p{
        margin-top: -1rem;
        color: v.$white;
        font-family: v.$contenido;
        font-size: 1.6rem;
    }
}
.tecnologias{
    display: grid;
    gap: 2rem;
    margin-top: 10rem;
    color: v.$white;
    h1{
        font-family: v.$titulo2;
        font-size: 4rem;
        margin-bottom: 0;
        margin-top: 0
    }
    p{
        margin-top: 0rem;
        font-family: v.$contenido;
        font-size: 1.6rem;
    }
}

.tecnologia-cards{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
     .tecnologia{
        background-color: #355c69;
        border-radius: 3rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 0.3s, transform 0.3s;
        margin-top: 0;
        row-gap: 1rem;
        column-gap: 2rem;
        h2{
            font-family: v.$contenido;
            font-size: 2.6rem;
            font-weight: bold;
            margin: 0;
            grid-column: 1 / 5;
            padding: 0;
        }
        .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10rem; 
            grid-column: span 1;
        }
        
        img {
            max-height: 100%;
            max-width: 8rem;
            object-fit: contain;
            display: block;
          }
    }
}
